<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gift Email</title>
    </head>

    <body>
        <h2>Hello!</h2>
        <h4>A contribution of € {{amount}} has been made on your behalf for a Contributely initiative by the title of {{initiativeTitle}}:</h4>

        <p>You are receiveing this from {{gifterName}}</p>
        <p>This initiative has a goal amount of €{{goalAmount}}</p>

        <p>Sign up to Contributely to contribute to your favourite causes today.</p>
    </body>

</html>