<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Initiative Ended Email</title>
    </head>

    <body>
        <h2>Hello!</h2>
        <h4>You are receiveing this email on behalf of {{groupName}}:</h4>

        <p>Just to let you know, we have just ended initiative: {{initiativeTitle}}</p>
        <p>The total amount donated to this initiative was {{closingBalance}}</p>

        <p>Thank you for all your contributions.</p>
        <p>Regards, Contributely</p>
    </body>


</html>